body {
  background-color: #000;
  color: #fff;
  font-family: monospace;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #111;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav a {
  color: #0ff;
  text-decoration: none;
}

#create-btn {
  background-color: red;
  border: none;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
}

#logo {
  font-size: 48px;
  margin: 30px 0;
  background: linear-gradient(90deg, red, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer 3s infinite;
}

@keyframes shimmer {
  0% { background-position: -500px; }
  100% { background-position: 500px; }
}

.center-image {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.credits {
  color: red;
  font-size: 14px;
  margin-bottom: 20px;
}

.search-container input {
  padding: 10px;
  width: 200px;
  margin: 10px;
}

.search-container button {
  padding: 10px;
}

.paste-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.paste-link {
  color: white;
  text-decoration: none;
  background-color: #111;
  width: 80%;
  padding: 8px;
  margin: 3px 0;
  text-align: left;
  border-bottom: 1px solid #333;
}

.paste-link:hover {
  background-color: #222;
}

footer {
  margin-top: 50px;
}
.role-admin { color: red; }
.role-coowner { color: purple; }
.role-coder { color: darkgreen; } /* темно-зеленый */
.role-rich { color: yellow; }
